# Ashutosh

In [33]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\PRABHAT\Desktop\ml\Diebeties.csv')

In [3]:
df

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [6]:
x=df[['glucose','bloodpressure']]
y=df[['diabetes']]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=101)

In [8]:
from sklearn.tree import DecisionTreeClassifier
model1=DecisionTreeClassifier()
model1.fit(x_train,y_train)

DecisionTreeClassifier()

In [9]:
model1.score(x_test,y_test)

0.9464882943143813

In [11]:
model1.predict(x_test)[0:5]

array([0, 1, 0, 1, 1], dtype=int64)

In [12]:
y_test.head()

     diabetes
460         0
367         1
109         0
325         1
182         1

# regressor

In [15]:
x=df[['glucose']]
y=df[['bloodpressure']]

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=101)

In [31]:
from sklearn.tree import DecisionTreeRegressor
model2=DecisionTreeRegressor(criterion='mse')
model2.fit(x_train,y_train)

DecisionTreeRegressor()

In [32]:
model2.score(x_test,y_test)

0.1987816133013417

In [27]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [28]:
sc_x_train=sc.fit_transform(x_train)
sc_x_test=sc.fit_transform(x_test)

In [29]:
from sklearn.tree import DecisionTreeRegressor
model2=DecisionTreeRegressor()
model2.fit(sc_x_train,y_train)

DecisionTreeRegressor()

In [30]:
model2.score(sc_x_test,y_test)

0.1987816133013417