In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r'C:\Users\PRABHAT\Desktop\ml\weight-height.csv')

In [3]:
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [20]:
x=np.array(data['Height']).reshape(-1,1)
y=data['Weight']

In [21]:
from sklearn.model_selection import train_test_split

In [50]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [51]:
from sklearn.neighbors import KNeighborsRegressor

In [52]:
knr=KNeighborsRegressor(101)

In [53]:
knr.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=101)

In [54]:
knr.score(x_test,y_test)

0.8569637734773439

In [55]:
pred=knr.predict(x_test)

In [56]:
df=pd.DataFrame(y_test)

In [57]:
df['pred']=pred

In [58]:
df

          Weight        pred
7343  149.059448  158.631124
2730  167.842392  141.290950
9899  158.946397  157.574863
1648  178.365728  170.697920
2884  176.048644  193.261818
...          ...         ...
4929  172.215745  181.879603
8574  145.509864  141.590488
7756  130.573205  149.942060
678   150.346658  136.666061
2838  186.283925  189.995453

[3000 rows x 2 columns]

In [59]:
pred[0:5]

array([158.63112427, 141.2909504 , 157.57486258, 170.69791999,
       193.26181762])

In [60]:
y_test.head()

7343    149.059448
2730    167.842392
9899    158.946397
1648    178.365728
2884    176.048644
Name: Weight, dtype: float64